.calculator {
    position: absolute;
    background-color: rgb(192, 192, 192);
    height: 438px;
    width: 396px;
    margin-left: 750px;
    margin-top: 200px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid black;
    outline: none;
}

.font {
    font-family: Fantasy, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
}

.font:hover{
    background-color: rgb(128, 116, 116);
    cursor: pointer;
}

.font:active {
    background-color: orangered;
    cursor: pointer;
}

.fontSize{
    color: white;
    font-size: 60px;
    margin-right: 10px;
    text-align: right;
}

.orange {
    background-color: rgb(236, 142, 54);
}

.gray {
    background-color: rgb(148, 148, 148);
}

.border {
    border: 1px solid black;
}

.buttonSize{
    height: 65px;
    width: 100px;
}


#zero {
    position: absolute;
    margin-left: -2px;
    margin-top: 373px;
    color: white;
    border-bottom-left-radius: 6px;
    height: 65px;
    width: 199px;
}

#one {
    position: absolute;
    margin-left: -2px;
    margin-top: 314px;
    color: white;
}

#two {
    position: absolute;
    margin-left: 97px;
    margin-top: 314px;
    color: white;
}

#three {
    position: absolute;
    margin-left: 196px;
    margin-top: 314px;
    color: white;
    border: solid 1px;
    border-color: black;
}

#four {
    position: absolute;
    margin-left: -2px;
    margin-top: 255px;
    color: white;
}

#five {
    position: absolute;
    margin-left: 97px;
    margin-top: 255px;
    color: white;
}

#six {
    position: absolute;
    margin-left: 196px;
    margin-top: 255px;
    color: white;
}

#seven {
    position: absolute;
    margin-left: -2px;
    margin-top: 196px;
    color: white;
}

#eight {
    position: absolute;
    margin-left: 97px;
    margin-top: 196px;
    color: white;
}

#nine {
    position: absolute;
    margin-left: 196px;
    margin-top: 196px;
    color: white;
}

#add {
    position: absolute;
    margin-left: 296px;
    margin-top: 260px;
    color: white;
    border: solid 1px;
    border-color: black;
    height: 60px;
    width: 100px;
}

#subtract {
    position: absolute;
    margin-left: 296px;
    margin-top: 319px;
    color: white;
    border: solid 1px;
    border-color: black;
    height: 60px;
    width: 100px;
}

#divide {
    position: absolute;
    margin-left: 296px;
    margin-top: 136px;
    color: white;
    border: solid 1px;
    border-color: black;
    height: 66px;
    width: 100px;
}

#multiply {
    position: absolute;
    margin-left: 296px;
    margin-top: 201px;
    color: white;
    height: 60px;
    width: 100px;
}

#backSpace {
    position: absolute;
    margin-left: 196px;
    margin-top: 137px;
    color: white;

}

#clear {
    position: absolute;
    margin-left: -2px;
    margin-top: 137px;
    color: white;

}

#plusMinus {
    position: absolute;
    margin-left: 97px;
    margin-top: 137px;
    color: white;

}

#decimal {
    position: absolute;
    margin-left: 196px;
    margin-top: 378px;
    color: white;
    height: 60px;
    width: 100px;
}

#equal {
    position: absolute;
    margin-left: 296px;
    margin-top: 378px;
    color: white;
    border-bottom-right-radius: 6px;
    height: 60px;
    width: 100px;
}

#display {
    position: absolute;
    background-color: rgb(49, 46, 46);
    margin-left: -1px;
    margin-top: 0px;
    border-top: 2px;
    border-left: 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 140px;
    width: 398px;
}

::placeholder { 
    color: white;
    opacity: 1; 
  }

