body {                        /* position calculator in the middle of page */
    position: fixed;
    top: 20%;
    left: 31%;
    background-image: url(calc_pic_3.jpg);
}
                             /*  Calculator Styles */
.calculator {
    width: 370px;
}

#intro{
    position: inherit;
    color: white;
    margin-bottom: 50px;
    margin-left: 40px;
    font-size: 24px;
}

.display {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display-item{
    padding-right: 15px;
    font-size: 24px;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: lightgray;
    color: #444;
    padding: 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #000000;
}

/*  Button Styles */
.btn-num {

}

.btn {
    padding: 20px;
    font-size: 20px;
    background-color: #000000;
    color: white;
}

.btn-ops{
    background-color: #43f0fe;
    color: white;
}

#zero {
    grid-column: 1/3;
}

#clearAll {
    background-color: #1e71bd;
}

#clear-entry{
    background-color: #1e71bd;
}


/* ::placeholder { 
    color: white;
    opacity: 1; 
} */